.all-menu > .max-container {
  z-index: 51 !important;
}

/*card produtos*/

@media (max-width: 576px) {
  .vitrine .vitrine .prateleira ul {
    grid-template-columns: repeat(2, calc(50% - 5px)) !important;
    gap: 10px !important;
  }
  .prateleira .box-item .product-image {
    margin: 0px;
  }
  .vitrine .prateleira .add-to-list {
    margin: 0px;
    padding: 15px 0px;
  }
  .vitrine.resultItemsWrapper {
    margin-top: 0px;
  }
  .resultado-busca-filtro {
    display: flex;
    justify-content: end;
  }
  .resultado-busca-filtro fieldset.orderBy {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}
@media (max-width: 400px) {
  .vitrine .vitrine .prateleira ul {
    grid-template-columns: 100% !important;
  }
  .out-of-stock,
  .wrapper-buy-button-asynchronous a,
  .add-to-cart-shelf {
    font-size: 9px;
  }
}
